@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/*-- scss:defaults --*/
$presentation-title-slide-text-align: left;

// fonts
$font-family-sans-serif: "Roboto", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// colors
$body-bg: #ffffff !default;
$body-color: #191717 !default;
$link-color: #a60000 !default;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #1a1b1b !default;
$presentation-line-height: 1.5 !default;
$presentation-heading-line-height: 1.5 !default;


/*-- scss:rules --*/

.title-slide.title {
  color: #ffffff;
}

.question {
  color: #AD5769;
  font-weight: bold;
}

.task {
  color: #4d6749;
  font-weight: bold;
}

.highlight {
  color: #579dad;
  font-weight: bold;
}

.errors {
  color: #e3a14a;
  font-weight: bold;
}

.white {
  color: #ffffff;
}

.picture {
  margin: auto;
  padding: 10pt;
  width: auto;
}

.reveal a {
  line-height: 1.8em;
}

.reveal .title {
  background-color: #7e0015;
}

.flow {
  background-image: url(https://images.unsplash.com/photo-1557761469-f29c6e201784);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
	animation: animate 40s linear infinite;
	font-weight: 900;
}

@keyframes animate {
	0% {
		background-position: left 700px top 100px;
	}
	40% {
		background-position: left 700px top 500px;
	}
}