
/*-- scss:defaults --*/
$presentation-title-slide-text-align: left;

// fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

// colors background
$background-color: #ffffff;

// theme colors
$theme-color-primary: #8C3048;
$theme-color-secondary: #023059;
$theme-color-tertiary: #BF7C63;
$theme-color-quaternary: #F4E2DE;

// fonts colors
$font-color: #000000;
$font-color-inverted: $background-color;
$font-color-loud: $theme-color-secondary;

// colors
$body-bg: $background-color;
$body-color: $font-color;
$link-color: $theme-color-tertiary;

// headings
$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !default;

// line height
$presentation-line-height: 1.5 !default;
$presentation-heading-line-height: 1.5 !default;

/*-- scss:rules --*/

.reveal .title {
  background-color: $theme-color-primary;
}

.title-slide.title {
  background-color: $theme-color-quaternary !important;
}

.highlight {
  color: $theme-color-primary;
  font-weight: bold;
}

.task {
  color: $theme-color-secondary;
  font-weight: bold;
}

.question {
  color: $theme-color-tertiary;
  font-weight: bold;
}

.invert-font {
  color: $font-color-inverted;
  background-color: #000000;
  border-width: 10px;
  border-radius: 0px;
  border-color: #000000;
  border-style: solid;
}

.loud-slide {
  background-color: $theme-color-primary !important; 
  color: $font-color-loud !important;
  font-weight: bold !important;
}

.flow {
  background-image: url("https://images.unsplash.com/photo-1507608158173-1dcec673a2e5?auto=format&fit=crop&w=2000&q=80");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 120s linear infinite;
  background-size: cover;  
  background-repeat: repeat;
}

@keyframes animate {
  0% {
    background-position: left 192px top 108px;
  }
  100% {
    background-position: left 1728px top 972px;
  }
}